#ignore test results
roundAntes.draw
roundDepois.draw
roundNext.xml
roundPlay.xml

#ignore tmp files
*~

# haskell
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
bin/

# LaTeX
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo